html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  display: flexbox;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: #628ee6;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  margin: 16px 0;


}

.main {
  height: 100vh;
  box-sizing: border-box;
}

footer {
  background-color: #628ee6;
  color: white;
  align-items: center;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 60%;
  height: calc(100vh - 100px);
  margin: auto;
}
td {
  font-size: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  font-size: 24px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: lavender;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 482px) {
  table {
    width: 60%;
    max-width: 60%;
    overflow-x: auto;
  }

  h1 {
    font-size: 1.2rem;
  }
  th,td {
    font-size: 1rem;
  }

 
  
}
